<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="codemargonda.david.com.myfirstapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splashscreen"
            android:theme="@style/splash">

            <!-- Intent Filter dibawah ini untuk mengatur mana activity yang akan dijalankan lebih dahulu -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Untuk mengubah title pada action bar berikan label pada Activity dibawah -->
        <activity
            android:name=".MainActivity"
            android:label="Menu Utama" />
        <activity
            android:name=".PengenalanLayout"
            android:label="@string/title_pengenalan_layout" />
        <activity
            android:name=".Final"
            android:label="@string/title_asset" />
        <activity
            android:name=".OurLinearLayout"
            android:label="@string/title_linearlayout" />
        <activity
            android:name=".OurRelativeLayout"
            android:label="@string/title_relativelayout"></activity>
    </application>

</manifest>